body{
    font-family: 'Akaya Telivigala', cursive;
}
.target-color{
    color: #FF6347;
}
#inshallah-color{
    color: rgb(21, 21, 75); 
    font-weight: 500;
}

.half-part #head-border-image{
    
    line-height: 200%;
    
    border-left: 5px solid ;
    border-image: linear-gradient(rgb(100, 173, 221),rgb(37, 67, 133)) 10;
    border-image-slice: 1;
}
#head-border-image h1{
    padding-left:10px;
    font-family: Playfair;
    font-size: 40px;
    

}
#stay-h1{
    color: rgb(21, 21, 75); 
}
.anchor-button{
  text-decoration: none;
  font-family: Tahoma, Verdana, sans-serif;
  background: #FF4742;
  color: white;
  font-weight: 800;
  padding: 10px 40px;
  border-radius: 5px;

}
.half-part{
    width:50%;
    padding: 30px;
    margin: 30px;
        
}
.half-part img{
    width:80%;
   
}
.half-part  p{
    color: rgb(44, 44, 44);
}
.target-area{
    display: flex;
}
.boxes-area{
    display: flex;
    
}
.boxes-area p{
    color: rgb(106, 103, 103);
}

.goal-title{
    padding-top: 10px;
    text-align: center;
}

.box img{
    
    width: 60%;
}
.box{
    
    height:335px;
    margin: 0 50px;
    padding: 0 10px;
    border: 1px;
    border-radius: 10px; 
    box-shadow: 5px 10px 8px #888888;
}
.goal-title h1{
    color: rgb(21, 21, 75); 
}
#year-color{
    color: #FF6347;
}
.third-area .develop-limits{
   margin-left: -180px;
}
.coding-image img{
    width:60%;
    margin-left: 30px;
}
.develop-limits .anchor-button{
    background: #FF4742;
    color: rgb(247, 247, 255);
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 15px;
    font-weight:800;
    padding: 12px 17px;
}

.h1-color{
    font-size: 40px;
    color: rgb(21, 21, 75); 
}
.anchor-button:hover, .anchor-button:active{
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.anchor-button:active{
    opacity:0.5;
}